In [1]:
from MySQL_DB_connect_functions import *
from MySQL_DB_update_functions import *
from youtube_api_functions import *

In [2]:
channel_id_list = ['UCYO_jab_esuFRV4b17AJtAw'] #3blue1brown

In [3]:
youtube_obj = build_yt_API_object()
video_df = create_video_df(youtube_obj, channel_id_list)
processed_video_df = clean_video_df(video_df)

In [4]:
processed_video_df

,video_id,channelTitle,title,description,publishedAt,viewCount,likeCount,favoriteCount,commentCount,caption,publishDayName,durationSecs,tagCount
0,VYQVlVoWoPY,3Blue1Brown,How to lie using visual proofs,"Three false proofs, and what lessons they teac...",2022-07-03,1097842,56024,0,2725,1,Sunday,1129.0,7
1,hZuYICAEN9Y,3Blue1Brown,We want more online math exposition (SoME2),Announcing the second iteration of the Summer ...,2022-06-09,213111,11174,0,565,0,Thursday,434.0,7
2,bOXCLR3Wric,3Blue1Brown,Olympiad level counting: How many subsets of {...,"A lesson on generating functions, and clever u...",2022-05-23,1121994,48392,0,2338,1,Monday,2076.0,7
3,fRed0Xmc2Wg,3Blue1Brown,"Oh, wait, actually the best Wordle opener is n...",Following up on the Worlde-solver (https://you...,2022-02-13,4825777,132980,0,6461,1,Sunday,653.0,7
4,v68zYyaEmEA,3Blue1Brown,Solving Wordle using information theory,An excuse to teach a lesson on information the...,2022-02-06,9210370,202628,0,8495,1,Sunday,1838.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,-9OUyo8NFZg,3Blue1Brown,Euler's Formula and Graph Duality,"A description of planar graph duality, and how...",2015-06-21,412301,9630,0,331,1,Sunday,447.0,12
120,K8P8uFahAgc,3Blue1Brown,Circle Division Solution,An explanation of a neat circle puzzle involvi...,2015-05-24,511325,15434,0,669,1,Sunday,533.0,12
121,84hEmGHw3J8,3Blue1Brown,A Curious Pattern Indeed,A teaser for some future videos regarding a pa...,2015-04-11,502768,10330,0,204,1,Saturday,109.0,14
122,zLzLxVeqdQg,3Blue1Brown,Euler's Formula Poem,"A poem about why e to the pi i equals -1, base...",2015-03-05,140988,4316,0,139,1,Thursday,64.0,10
123,F_0yfvm0UoU,3Blue1Brown,"e to the pi i, a nontraditional take (old vers...",Wait! There's an improved version: https://yo...,2015-03-05,2483694,38316,0,2064,1,Thursday,374.0,13

In [5]:
host_name, dbname, schema_name, port, username, password = get_db_info()

cnx = connect_to_db(username, password, host_name, schema_name, port)
cursor = cnx.cursor()

Connected to Database

In [6]:
cursor.execute("DROP TABLE IF EXISTS videos")

In [7]:
create_mysql_table(cursor)

MySQL table created

In [8]:
append_from_df_to_db(cursor, processed_video_df)

Dataframe appended to database

In [9]:
new_vid_df = update_db(cursor, processed_video_df)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BOOL = 1,
        publishDayName = 'Sunday',
        durationSecs = 1129.0,
    ' at line 10

In [ ]:
new_vid_df

In [ ]:
append_from_df_to_db(cursor, new_vid_df)
cnx.commit()
cursor.close()
cnx.close()